SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=vrukraini@gmail.com
SPRING_MAIL_PASSWORD=fucbivxfxesnusot
APP_NOTIFICATION_EMAIL=vrukraini@gmail.com
CLOUDFLARE_TUNNEL_TOKEN=eyJhIjoiNjJhYzA2ZTVhMjc3OGM0NmUyNDNkNmFmMmYzODU4OTciLCJ0IjoiYzhhNDJhODUtMGIxYi00OTc1LWIwMGMtOWM3NDFiNWM0NGQzIiwicyI6Ik9HWm1ZbUl3WWpBdE9UUmxPUzAwTnpRekxXSmtaREF0WmpVME9EQmlaamd6TmpkaCJ9
